*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.music-player{
    width: 350px;
    height: 550px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow:5px 5px 5px 1px pink;
    padding: 30px;
    overflow: hidden;
    color: aliceblue;
}
.song-name, .artist-name{
    text-align: center;
    text-transform: capitalize;
}
.song-name{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
.artist-name{
    font-size: 25px;
}